# Assignment 1
author: "Skye"

## R Code

> This is a simple R code to print the numbers 1 to 10

In [13]:
for (i in 1:10){
  print(i)
}

SyntaxError: invalid syntax (<ipython-input-13-70014c19a414>, line 1)

## Python Code

> This is a simple python code to print the numbers 1 to 10

In [12]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10